.container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.fade-appear,
.fade-enter {
    opacity: 0;
    transform: translate(150px);
}

.fade-appear-active,
.fade-enter-active {
    transition: opacity 0.8s linear, transform 0.8s linear;
    opacity: 1;
    transform: translate(0px);
}

.fade-exit {
    transition: opacity 0.8s linear, transform 0.8s linear;
    opacity: 1;
    transform: translate(0px);
}

.fade-exit-active {
    opacity: 0;
    transform: translate(150px);
}
